<div id="now-playing-window" class="lists-window">
    <div class="now-playing-container">
        <img id="now-playing-img" src="icons/audio.jpg">
        <div class="track-info">
            <h1 id="track-name">No track loaded</h1>
            <h2 id="artist-name"></h2>
            <canvas></canvas>
        </div>
    </div>
</div>

<script>
    let visualizer = new Visualizer(themes[currentTheme].fg);

    function animate() {
        visualizer.update();
        requestAnimationFrame(animate);
    }

    requestAnimationFrame(animate);
</script>