@font-face {
  font-family: "Open Sans";
  src: url("https://assets.storage/opensans.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("assets://opensans.ttf");
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: var(--bg2);
}

::-webkit-scrollbar-thumb {
  background: var(--fg2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--bg);
  color: var(--fg);
  overflow: hidden;
  height: 100vh;
  user-select: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

svg {
  transition: fill 300ms;
}

svg:hover {
  fill: var(--fg2) !important;
  transition: fill 300ms;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-window {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.discover {
  height: 100%;
  display: flex;
}

.discover h1 {
  margin-left: 20px;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg2);
}

.tags-select {
  background-color: var(--bg1);
  color: var(--fg);
  min-width: 10em;
  height: 100%;
  overflow-y: scroll;
}

.tags-select option {
  padding: 5px;
  padding-left: 10px;
  font-size: 13px;
  cursor: pointer;
  background-color: unset;
  transition: background-color 300ms;
}

.tags-select option:hover {
  background-color: var(--bg2);
  transition: background-color 300ms;
}

.player-controls {
  border-top: 1px solid var(--bg1);
  display: flex;
}

.player-controls button {
  border: none;
  background: transparent;
  color: none;
  height: 100%;
  margin-left: 10px;
}

.seekbar {
  background-color: var(--bg1);
  position: relative;
  width: 100%;
  height: 16px;
  margin-bottom: 5px;
}

.track-information {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1.0;
  vertical-align: middle;
}

#track-name {
  width: 100%;
  font-weight: bold;
}

#track-clock {
  min-width: max-content;
  display: flex;
}

#track-clock .seekbar {
  min-width: 100px;
}

#track-clock p {
  min-width: 100px;
  text-align: right;
}

.track-bottom {
  display: flex;
  margin-right: 20px;
}

.seekbar::before {
  pointer-events: none;
}

.discover-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: scroll;
}

.seekbar input[type='range'] {
  -webkit-appearance: none;
  background-color: transparent;
  opacity: 1;
  width: 100%;
  height: 16px;
  z-index: -1;
}

.album-card {
  width: 150px;
  height: 250px;
  margin: 20px;
  margin-bottom: 0;
  overflow: hidden;
  background: var(--bg1);
  color: var(--fg);
  border-radius: 10px;
  border: 1px solid var(--bg2);
  box-shadow: 0px 0px 20px var(--bg1);
  transform: scale(1.0, 1.0);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  animation: ease 1000ms fade;
}

.album-card:hover {
  transform: scale(1.12, 1.12);
  box-shadow: 0px 0px 20px var(--bg2);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.album-image {
  width: 150px;
  height: 150px;
  border-bottom: 1px solid var(--bg2);
}

.album-description h4 {
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 2px;
  max-height: 50px;
  overflow-wrap: break-word;
  column-width: 150px;
}

.album-description {
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
}


.seekbar input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
}

menu {
  margin: 0;
  padding: 0;
  background: var(--bg1);
  width: 32px;
  text-align: center;
}

menu svg {
  width: 16px;
  height: 16px;
  padding: 5px;
}